*{
    padding: 0;
    margin: 0;
    /* font-family:  */
}

body{
    font-family: 'Raleway', sans-serif !important;
    background-color: #000000 !important;
    color: #fff !important;
}

.container{
    max-width: 70%;
    margin-top: 2.5rem;
}

.navbar {
    font-weight: bold;
    max-width: 320px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem !important;
    background-color: rgb(26, 26, 26);
    border: solid 1px rgb(128, 128, 128);
    border-radius: 5px;
    margin-bottom: 2.5rem;   
}


.locatie{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1rem;
}


.highlight {
    color: #ffa724;  /* Je kunt de kleur aanpassen naar wat je wilt, bijvoorbeeld een oranjetint */
}

.p-info{
    font-size: 3.75rem;
    font-weight: bold;
    color: #ffffff;
}




/* media */
@media screen and (max-width: 500px) {
    .container{
        max-width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .container{
        max-width: 90%;
    }
}
