*{
    padding: 0;
    margin: 0;
    /* font-family:  */
}

.container{
    margin-top: 2.5rem;
    max-width: 70%;
}

.navbar {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem !important;
    background-color: #fff;
    border: solid 1px black;
    border-radius: 5px;   
}


