*{
    padding: 0;
    margin: 0;
    box-sizing: content-box !important;
}

body {
    background-color: #000000 !important;
    color: #fff !important;
    font-family: 'Raleway', sans-serif !important;
}

/* overmij */
.sec-overmij{
    background-image: 
    repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0px, rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 40px),
    repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0px, rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 40px);
    background-size: 40px 40px;
    padding-top: 5rem;
    padding-bottom: 18rem;
}

.container{
    max-width: 70%;
    margin-top: 2.5rem;
}

.navbar {
    font-weight: bold;
    max-width: 320px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem !important;
    background-color: rgb(26, 26, 26);
    border: solid 1px rgb(128, 128, 128);
    border-radius: 5px;
    margin-bottom: 2.5rem;   
}

.locatie{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1rem;
}


.highlight {
    color: #449c3c;
}

.p-info{
    font-weight: bold !important;
    color: #ffffff;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}


.row-container {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.overmij-row{
    max-width: 80%;
    padding: 20px;
}

.text-col{
    text-align: center;
    flex-shrink: 1 !important;
}

.overmij-img{
    height: 300px;
    width: auto;
    border-radius: 15px;
}

.img-col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


/* media */
@media screen and (max-width: 500px) {
    .container{
        max-width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .container{
        max-width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .overmij-row{
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .overmij-row{
        margin-bottom: 5rem;
    }
}


@media screen and (max-width: 575px) {
    .overmij-img{
        height: 250px;
    }
}

@media screen and (max-width: 767px) {
    .text-col{
        margin-bottom: 25px;
    }
}


/* skills */
.h1-skills{
    font-weight: bold;
    margin-top: 5rem;
}